#psaIframe {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  z-index: 2000;
  height: 1083px;
  width: 100%;
}

#psaModalDialog {
  position: absolute;
  width: 350px;
  border: 1px solid rgb(51, 102, 153);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 2001;
  overflow: auto;
  text-align: center;
  top: 149px;
  left: 497px;
}

#fade {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ababab;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .70;
  filter: alpha(opacity=80);
}

#modal {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50px;
  height: 40px;
  /* padding:30px 15px 0px; */
  border: 3px solid #ababab;
  box-shadow: 1px 1px 10px #ababab;
  border-radius: 10px;
  background-color: white;
  z-index: 1002;
  text-align: center;
  overflow: auto;
}

.psa-panel {
  position: relative;
  background: #060606;
  padding: 10px;
  width: auto;
  max-width: 300px;
  margin: auto;
}

#results-panel {
  margin-top: 20px;
  display: none
}

.psa-analysis .panel-heading: {
  background-color: orange!important
}

footer span {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-style: italic;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 10px;
  /* bottom = footer height */
  padding: 25px;
}

footer {
  background-color: #337ab7;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  overflow: hidden;
}
